<div class="container" id="user_container">
  <h1 id="user_htag">{{userInfo.firstName}} {{userInfo.lastName}}</h1>

  {{#if comments}}
    <p class="user_ptag">Comments</p>

    <ul>
      {{#each comments}}
        <li
          class="list-group-item d-flex justify-content-between align-items-start text-primary"
        ><a
            href="/products/product/{{this.productId}}"
          >{{this.commentText}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
  {{!  }}
  {{#if viewdProduct}}
    <p class="user_ptag">Viewed Videos</p>

    <ul>
      {{#each viewdProduct}}
        <li
          class="list-group-item d-flex justify-content-between align-items-start text-primary"
        ><a href="/products/product/{{this._id}}">{{this.title}}</a></li>

      {{/each}}
    </ul>
  {{/if}}
  {{!  }}
  {{#if liked}}
    <p class="user_ptag">Liked Videos</p>

    <ul>
      {{#each liked}}
        <li
          class="list-group-item d-flex justify-content-between align-items-start text-primary"
        ><a href="/products/product/{{this._id}}">{{this.title}}</a></li>

      {{/each}}
    </ul>
  {{/if}}

</div>